/*
 * Request Feed Animations styles
 */

 @feedPostHeight: 118px;
 @transitionEnterTimeout: 1000ms;
 @transitionLeaveTimeout: 300ms;

.feed-enter {
  opacity: 0.01;
  height: 1px;
}

.feed-enter.feed-enter-active {
  opacity: 1;
  height: @feedPostHeight;
  transition: opacity  @transitionEnterTimeout ease-in;
  transition: height  @transitionEnterTimeout ease-in;
}

.feed-leave {
  opacity: 1;
  height: @feedPostHeight;
}

.feed-leave.feed-leave-active {
  opacity: 0.01;
  height: 1px;
  transition: opacity  @transitionLeaveTimeout ease-in;
  transition: height  @transitionLeaveTimeout ease-in;
}
